@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bartle&family=Heebo:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@434&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Kumbh Sans", sans-serif;

}

header {
    width: 100%;
    background-color: rgba(17, 17, 17, 1);
    padding: 0 20px;
}

/* header */
.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgb(61, 61, 61);
    flex-wrap: wrap;
    gap: 10px;
}

.header-text1,
.header-text2 {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-text p {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
}

.divider {
    width: 2px;
    height: 12px;
    background-color: #fff;
    opacity: 0.6;
}
.header-text:hover .divider {
    opacity: 1;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.navlogo img {
    height: 40px;
}

.navbar ul {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar ul a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}
.navbar ul a:hover {
    color: #cb3a1a;
}


.navbar ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #cb3a1a;
    transition: width 0.3s ease;
}

.navbar ul a:hover::after {
    width: 100%;
}


.btn {
    width: auto;
    min-width: 180px;
    height: 50px;
    border: 1px solid rgba(203, 58, 26, 1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0 20px;
    white-space: nowrap;
}

.btn a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn:hover {
    background-color: rgba(203, 58, 26, 0.9);
    border-color: rgba(203, 58, 26, 1);
}

.our{
    background-color: #0A0A0ABA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:50px;
    height: 517px;
    
}
.our {
    width: 100%;
    height: calc(100vh - 136px);
    background-color: rgba(10, 10, 10, 0.73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}

.our h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 30px;
}

.our p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.reservation-section{
  background-color: #111; /* Tünd arxa plan */
  color: white;
  font-family: sans-serif;
}

.reservation-section {
  text-align: center;
  padding: 50px 20px;
}

.reservation-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  height: 150px;
  
}

.input-group {
    width: 413px;
    height: 55px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

/* Əsas input üslubu */
.input-group input {
  background-color: transparent;
  border: 1px solid #333;
  padding: 12px 15px;
  color: #ffffff;
  outline: none;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #555;
}

.full-width {
  margin-top: 20px;
  height: 150px;
  width: 1000px;
}

/* Düymə üslubu */
.book-btn {
  background-color: #e74c3c; /* Qırmızı rəng */
  color: white;
  border: none;
  padding: 15px 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.book-btn:hover {
  background-color: #c0392b;
}


.shapes-container {
  position: relative;
  width: 400px;
  height: 400px;
}

.container{
    background-color: white;
    height: 865px;
    display: flex;
    gap: 120px;
}

.big-square img{
  width: 543px;
  height: 625px;
  background-color: #bcbcbc; /* Tünd boz kvadrat */
  object-fit: cover;
}

.small-square  img{
  position: absolute;
  bottom: -100px;
  right: -197px;
  width: 243px;
  height: 292px;
  background-color: #bcbcbc;
  object-fit: cover;
  border: 10px solid #f4f4f4; /* Arxa fonla eyni rəngdə çərçivə kəsik effekti verir */
}


.info-box{
    
    width: 434px;
    height: 170px;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: #74787C;
   
    justify-content: center ;
    padding-left: 20%;
    text-align: left;
}
.info-box h3{
    font-size: 20px;
    color: #111;
    font-weight: bold;
    font-family: sans-serif;

}
.info-box p{
    font-size: 16px;
    color: #74787C;
    font-family: sans-serif;

}
.content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    
}

.info-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shapes-container{
 margin-bottom: 200px;
}



.yazi p{
    font-size: 16px;
    color: white;
     font-family: "Jost", sans-serif;
}

.yazi h1{
    font-size: 40px;
    color: white;
     font-family: "Jost", sans-serif;
}
.yazi{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.but button{
    height: 250px;
    height: 55px;
    border: solid 2px ;
    border-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.before{
    background-color: #D9D9D9;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}






footer{
    background-color: black;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}


footer .ikili{
    width: 44.17px;
    height: 50px;
   
}

footer .del{
    width: 105px;
    height: 23.33px;
   
   
}
footer .icon {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    align-items:center;
    gap: 10px;

  
   
    
}

footer hr{
    width: 281px;
    color: #D9D9D9;
}

footer p{
    font-size: 18px;
    color: white;
}
.social img{
    width: 222px;
    height: 48px;
}

.foot1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.double h1{
    font-size: 18px;
    color: white;
    font-weight: bold;
     font-family: "Jost", sans-serif;
}

.double li{
    color: white;
    
    
  
}
.double ul{
    display: flex;
    flex-direction: column;
    gap: 26px;
    font-size: 16px;
     font-family: "Jost", sans-serif;

}
.link {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.otherlink{
     display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
}
.double{
    display: flex;
    gap: 149px;
}

.last h1{
    font-size: 18px;
    font-weight: bold;
    color: white;
      font-family: "Jost", sans-serif;


}
.last p{
    font-size: 16px;
    color: white;
      font-family: "Jost", sans-serif;
}
.last input{
    width: 328px;
    height: 60px;
    display: flex;
    padding-left: 30px;
    border: solid 1px ;
    border-color: #1D1C1C;
    
    align-items: center;
    background-color: #1D1C1C;
}
.last {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.end{
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    
}

.hr{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.hr p{
    color: white;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  font-size: 12px;
  color: #999;
  padding: 20px 50px;
}

.footer-links a {
  color: #999;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}






  